openapi: 3.2.0
info:
  description: Synivere Communication Gateway API
  version: 1.0.0
  title: SCG Contact Address History API
servers:
- url: https://api.syniverse.com/scg-external-api/api/v1
tags:
- name: Contact Address History
paths:
  /consent/contact_address_history:
    get:
      tags:
      - Contact Address History
      summary: List a Contact Address History
      description: '  List a Contact Address History '
      parameters:
      - name: id
        in: query
        description: 'Unique identifier, allocated by SCG at the time of the history record creation.

          '
        required: false
        schema:
          type: string
      - name: msisdn
        in: query
        description: 'The value of the contact''s address. For SMS/MMS this will be the MDN.

          '
        required: false
        schema:
          type: string
      - name: sender_id
        in: query
        description: 'The sender id that MO/MT message was sent to/from

          '
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: 'The source of the contact''s consent status information:

          - MESSAGE - when the consent status has changed as a result of a MO message sent by the contact (SCG managed consent)

          - CARRIER  - when a blacklist file was provided by a carrier and loaded in

          - COMPANY - when the user of SCG has supplied the information (USER managed consent)

          '
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: 'The new consent status of the contact

          '
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: 'Timestamp indicating when the MO message that triggered the consent status change was received

          '
        required: false
        schema:
          type: string
      - name: message
        in: query
        description: 'The body of the actual MO message that triggered the consent status change

          '
        required: false
        schema:
          type: string
      - name: keyword
        in: query
        description: 'The keyword detected by the application

          '
        required: false
        schema:
          type: string
      - name: application_id
        in: query
        description: 'ID of the application that has created the resource

          '
        required: false
        schema:
          type: integer
      - name: created_date
        in: query
        description: 'The creation date of the object.

          '
        required: false
        schema:
          type: string
      - name: last_updated_date
        in: query
        description: 'The last modification date of the object.

          '
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
components:
  schemas:
    inline_response_200_24_list:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier, allocated by SCG at the time of the history record creation.

            '
        msisdn:
          type: string
          description: 'The value of the contact''s address. For SMS/MMS this will be the MDN.

            '
        sender_id:
          type: string
          description: 'The sender id that MO/MT message was sent to/from

            '
        source:
          type: string
          description: 'The source of the contact''s consent status information:

            - MESSAGE - when the consent status has changed as a result of a MO message sent by the contact (SCG managed consent)

            - CARRIER  - when a blacklist file was provided by a carrier and loaded in

            - COMPANY - when the user of SCG has supplied the information (USER managed consent)

            '
        status:
          type: string
          description: 'The new consent status of the contact

            '
        timestamp:
          type: string
          description: 'Timestamp indicating when the MO message that triggered the consent status change was received

            '
        message:
          type: string
          description: 'The body of the actual MO message that triggered the consent status change

            '
        keyword:
          type: string
          description: 'The keyword detected by the application

            '
        application_id:
          type: integer
          description: 'ID of the application that has created the resource

            '
        created_date:
          type: string
          description: 'The creation date of the object.

            '
        last_updated_date:
          type: string
          description: 'The last modification date of the object.

            '
        version_number:
          type: integer
          description: 'An ascending version number of the object.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking.

            '
    inline_response_200_24:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_24_list'
