openapi: 3.2.0
info:
  description: Synivere Communication Gateway API
  version: 1.0.0
  title: SCG Channel API
servers:
- url: https://api.syniverse.com/scg-external-api/api/v1
tags:
- name: Channel
paths:
  /messaging/channels:
    get:
      tags:
      - Channel
      summary: List available Private Channels
      description: '  List available Private Channels'
      parameters:
      - name: id
        in: query
        description: 'The channel identifier, allocated by SCG when channel is created

          '
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: 'User Specified Name of the Channel

          '
        required: false
        schema:
          type: string
      - name: priority
        in: query
        description: 'Determines the channel priority: high, normal or low. SCG will deliver to target system first for messages in high priority channels, then normal and at the end low priority. Message size does not affect the message priority

          '
        required: false
        schema:
          type: string
      - name: description
        in: query
        description: 'Description of the Channel

          '
        required: false
        schema:
          type: string
      - name: ownership
        in: query
        description: 'SHARED/PRIVATE/PUBLIC

          '
        required: false
        schema:
          type: string
      - name: application_id
        in: query
        description: 'ID of the application that has created the resource

          '
        required: false
        schema:
          type: integer
      - name: created_date
        in: query
        description: 'The date the resource was created

          '
        required: false
        schema:
          type: string
      - name: last_updated_date
        in: query
        description: 'The data the resource was last changed

          '
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Channel
      summary: Create a Private Channel
      description: '  Create a Private Channel'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
  /'messaging/channels/{Channel_ID}':
    get:
      tags:
      - Channel
      summary: Retrieve a specified Channel
      description: '  Retrieve a specified Channel'
      parameters:
      - name: Channel_ID
        in: path
        description: The Channel ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4_list'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Channel
      summary: Update a channel ID with attributes
      description: '  Update a channel ID with attributes'
      parameters:
      - name: Channel_ID
        in: path
        description: The Channel ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel_2'
    put:
      tags:
      - Channel
      summary: Replaces the specific Channel ID. All mandatory fields must be present.
      description: '  Replaces the specific Channel ID. All mandatory fields must be present.'
      parameters:
      - name: Channel_ID
        in: path
        description: The Channel ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel_1'
    delete:
      tags:
      - Channel
      summary: Delete a specified Private Channel
      description: '  Delete a specified Private Channel'
      parameters:
      - name: Channel_ID
        in: path
        description: The Channel ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
  /'messaging/channels/{Channel_ID}/sender_ids':
    get:
      tags:
      - Channel
      summary: List Sender IDs associated with a Channel
      description: '  List Sender IDs associated with a Channel'
      parameters:
      - name: Channel_ID
        in: path
        description: The Channel ID for this resource.
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: 'unique id of the sender address

          '
        required: false
        schema:
          type: string
      - name: parent_id
        in: query
        description: 'for shared short codes, this is a reference to the system  sender id that is associated with this preprovisioned address.  Whenever a customer wants to use a preprovisioned, shared code, the parent sender address id will indicate the sender id that was used to create customer version of the sender id

          '
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: 'name of the sender address

          '
        required: false
        schema:
          type: string
      - name: ownership
        in: query
        description: 'this field determines the ownership category of a shortcode. Applies only for SMS type of sender id''s. Following values are allowed:

          - PRIVATE -> represents a short code that is private for use by one company only

          - SHARED -> represents a short code that is owned by Syniverse and where multiple customers can use it. When a customer wants to use a SHARED sender id, a new PRIVATE sender address will be created with parent sender id set to the SHARED sender id

          - PREPROVISIONED -> represents an address that is owned by Syniverse and can be selected by a customer. Upon a customer selecting a preprovisioned sender address, new sender id document as a copy of the PREPROVISIONED document is created, with state PRIVATE and parent_id pointing the original PREPROVISIONED sender address. The PREPROVISIONED sender address changes ownership to PURCHASED. Once the PRIVATE sender address, pointing to the PURCHASED is deleted, the PURCHASED sender changes its ownership back to PREPROVISIONED.

          - PURCHASED -> PREPROVISIONED sender address, currently occupied by a customer.

          '
        required: false
        schema:
          type: string
      - name: class_id
        in: query
        description: 'reference to the sender address class that determines the priority and throughput of the configured sender id

          '
        required: false
        schema:
          type: string
      - name: type_id
        in: query
        description: 'reference the sender address type that determines the data types allowed on the sender id and identifies the gateway used to deliver the messages

          '
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: 'represents the sender address status. Following values are allowed:

          - PENDING_IMPLEMENTATION

          - IMPLEMENTED

          - ACTIVE

          - INACTIVE

          - BROKEN

          - PENDING_DELETE

          - PENDING_CONFIRMATION


          For each sender address that require provisioning, when a sender address is requested, the initial status will be ''pending implementation''

          '
        required: false
        schema:
          type: string
      - name: country
        in: query
        description: 'The country that the sender address can be used to send messages to. This field will contain ISO country code. The value is managed by Syniverse and not editable by the customer.

          '
        required: false
        schema:
          type: string
      - name: consent_managed_by
        in: query
        description: 'Possible values: USER, SCG or SCG_UNSOLICITED_OPT_OUT. Default is USER

          '
        required: false
        schema:
          type: string
      - name: capabilities
        in: query
        description: 'Message types allowed on the sender ids from of this type: SMS, MMS, VOICE, WhatsApp etc.

          '
        required: false
        schema:
          type: string
      - name: check_white_list
        in: query
        description: 'If set, sending via this sender ID is limited to recipients present in the customer''s white list.

          '
        required: false
        schema:
          type: boolean
      - name: application_id
        in: query
        description: 'ID of the application that has created the resource

          '
        required: false
        schema:
          type: integer
      - name: created_date
        in: query
        description: 'The date the resource was created

          '
        required: false
        schema:
          type: string
      - name: last_updated_date
        in: query
        description: 'for shared short codes, this is a reference to the system  sender id that is associated with this preprovisioned address.  Whenever a customer wants to use a preprovisioned, shared code, the parent sender address id will indicate the sender id that was us

          '
        required: false
        schema:
          type: string
      - name: register_number
        in: query
        description: 'When the ''register_number'' can be set to ''true'' or ''false''. When set to ''true'', this instructs SCG to register a Telephone number with the appropriate Operator or Registration entity.

          '
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Channel
      summary: Add sender_id(s) to a channel
      description: '  Add sender_id(s) to a channel'
      parameters:
      - name: Channel_ID
        in: path
        description: The Channel ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sender_ID_2'
  /'messaging/channels/{channel_ID}/sender_ids/{sender_ID}':
    delete:
      tags:
      - Channel
      summary: Removes the senderId from channel
      description: '  Removes the senderId from channel'
      parameters:
      - name: channel_ID
        in: path
        description: The channel ID for this resource.
        required: true
        schema:
          type: string
      - name: sender_ID
        in: path
        description: The sender ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
components:
  schemas:
    inline_response_200_4_list:
      type: object
      properties:
        id:
          type: string
          description: 'The channel identifier, allocated by SCG when channel is created

            '
        name:
          type: string
          description: 'User Specified Name of the Channel

            '
        priority:
          type: string
          description: 'Determines the channel priority: high, normal or low. SCG will deliver to target system first for messages in high priority channels, then normal and at the end low priority. Message size does not affect the message priority

            '
        description:
          type: string
          description: 'Description of the Channel

            '
        ownership:
          type: string
          description: 'SHARED/PRIVATE/PUBLIC

            '
        message_templates:
          type: array
          description: 'A list of template ids that apply to this sender address. If more than one template applies, the elements will be separated by  a coma.

            '
          items:
            type: string
        country:
          type: string
          description: 'The country that the sender address can be used to send messages to. This field will contain ISO country code. The value is managed by Syniverse and not editable by the customer.

            '
        application_id:
          type: integer
          description: 'ID of the application that has created the resource

            '
        created_date:
          type: string
          description: 'The date the resource was created

            '
        last_updated_date:
          type: string
          description: 'The data the resource was last changed

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
    Sender_ID_2:
      type: object
      properties:
        sender_ids:
          type: array
          description: 'A list of sender ids

            '
          items:
            type: string
    inline_response_200_2_list:
      type: object
      properties:
        id:
          type: string
          description: 'unique id of the sender address

            '
        parent_id:
          type: string
          description: 'for shared short codes, this is a reference to the system  sender id that is associated with this preprovisioned address.  Whenever a customer wants to use a preprovisioned, shared code, the parent sender address id will indicate the sender id that was used to create customer version of the sender id

            '
        name:
          type: string
          description: 'name of the sender address

            '
        ownership:
          type: string
          description: 'this field determines the ownership category of a shortcode. Applies only for SMS type of sender id''s. Following values are allowed:

            - PRIVATE -> represents a short code that is private for use by one company only

            - SHARED -> represents a short code that is owned by Syniverse and where multiple customers can use it. When a customer wants to use a SHARED sender id, a new PRIVATE sender address will be created with parent sender id set to the SHARED sender id

            - PREPROVISIONED -> represents an address that is owned by Syniverse and can be selected by a customer. Upon a customer selecting a preprovisioned sender address, new sender id document as a copy of the PREPROVISIONED document is created, with state PRIVATE and parent_id pointing the original PREPROVISIONED sender address. The PREPROVISIONED sender address changes ownership to PURCHASED. Once the PRIVATE sender address, pointing to the PURCHASED is deleted, the PURCHASED sender changes its ownership back to PREPROVISIONED.

            - PURCHASED -> PREPROVISIONED sender address, currently occupied by a customer.

            '
        class_id:
          type: string
          description: 'reference to the sender address class that determines the priority and throughput of the configured sender id

            '
        type_id:
          type: string
          description: 'reference the sender address type that determines the data types allowed on the sender id and identifies the gateway used to deliver the messages

            '
        state:
          type: string
          description: 'represents the sender address status. Following values are allowed:

            - PENDING_IMPLEMENTATION

            - IMPLEMENTED

            - ACTIVE

            - INACTIVE

            - BROKEN

            - PENDING_DELETE

            - PENDING_CONFIRMATION


            For each sender address that require provisioning, when a sender address is requested, the initial status will be ''pending implementation''

            '
        address:
          type: string
          description: 'The sender address. The address must correspond to the sender address type. For a2p sms this will be the shortcode or Integercode, for emails this will be the email address etc... For push this is a unique application name.  This name will be used in contacts to identify the application specific push registration ids for a particular user.

            '
        content_type:
          type: string
          description: 'the content of this field is specific the sender type / gateway associated with this sender

            '
        message_templates:
          type: array
          items:
            type: string
        country:
          type: string
          description: 'The country that the sender address can be used to send messages to. This field will contain ISO country code. The value is managed by Syniverse and not editable by the customer.

            '
        credentials:
          type: string
          description: 'An array of  inline JSON objects with a list of name, value pairs that contain the credential and configuration values need to use this sender ID.  There is one object in the array per message delivery provider that will be used for delivery messages with this sender ID.  For example, the array may contain one entry for APN and one entry for GCN.

            '
        consent_managed_by:
          type: string
          description: 'Possible values: USER, SCG or SCG_UNSOLICITED_OPT_OUT. Default is USER

            '
        capabilities:
          type: array
          items:
            type: string
        check_white_list:
          type: boolean
          description: 'If set, sending via this sender ID is limited to recipients present in the customer''s white list.

            '
        application_id:
          type: integer
          description: 'ID of the application that has created the resource

            '
        company_id:
          type: integer
          description: 'ID of the company that has created the resource

            '
        created_date:
          type: string
          description: 'The date the resource was created

            '
        last_updated_date:
          type: string
          description: 'for shared short codes, this is a reference to the system  sender id that is associated with this preprovisioned address.  Whenever a customer wants to use a preprovisioned, shared code, the parent sender address id will indicate the sender id that was us

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
        billing:
          type: string
          description: 'billing info

            '
        default_greating:
          type: string
          description: 'default greating info

            '
        google_project_id:
          type: string
          description: 'google project id

            '
        syniverse_chatbot_id:
          type: string
          description: 'syniverse chatbot id

            '
        applied_charges:
          type: array
          items:
            type: string
        alias:
          type: string
          description: 'alias of the sender

            '
        start_date:
          type: string
          description: 'start date

            '
        end_date:
          type: string
          description: 'end date

            '
        suspend_reason:
          type: string
          description: 'suspend reason info: MANUAL, INSUFFICIENT_FUNDS, PORTED_OUT

            '
        register_provider:
          type: string
          description: 'register provider (NETNUMBERS, NONE, ZIPWHIP)

            '
        shortcode_address_type:
          type: string
          description: 'shortcode address type (STANDARD, FTEU)

            '
        foreign_id:
          type: string
          description: 'foreign id

            '
        restriction_id:
          type: string
          description: 'restriction id

            '
        verify_sms_agent_id:
          type: string
          description: 'verify sms agent id

            '
    inline_response_200_3:
      type: object
      properties:
        id:
          type: string
          description: The identifier for the newly created resource.
    Channel:
      type: object
      properties:
        name:
          type: string
          description: 'User Specified Name of the Channel

            '
        priority:
          type: string
          description: 'Determines the channel priority: high, normal or low. SCG will deliver to target system first for messages in high priority channels, then normal and at the end low priority. Message size does not affect the message priority

            '
        description:
          type: string
          description: 'Description of the Channel

            '
    inline_response_200_4:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_4_list'
    Channel_2:
      type: object
      properties:
        name:
          type: string
          description: 'User Specified Name of the Channel

            '
        priority:
          type: string
          description: 'Determines the channel priority: high, normal or low. SCG will deliver to target system first for messages in high priority channels, then normal and at the end low priority. Message size does not affect the message priority

            '
        description:
          type: string
          description: 'Description of the Channel

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
    Channel_1:
      type: object
      properties:
        name:
          type: string
          description: 'User Specified Name of the Channel

            '
        priority:
          type: string
          description: 'Determines the channel priority: high, normal or low. SCG will deliver to target system first for messages in high priority channels, then normal and at the end low priority. Message size does not affect the message priority

            '
        description:
          type: string
          description: 'Description of the Channel

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
    inline_response_200_2:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_2_list'
