openapi: 3.2.0
info:
  description: Synivere Communication Gateway API
  version: 1.0.0
  title: SCG Contact Application Token API
servers:
- url: https://api.syniverse.com/scg-external-api/api/v1
tags:
- name: Contact Application Token
paths:
  /contacts/{Contact_ID}/application_tokens:
    get:
      tags:
      - Contact Application Token
      summary: Return a list of matching Contact Application Tokens
      description: '  Return a list of matching Contact Application Tokens'
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: 'Unique identifier, allocated by SCG at the time of contact Application Token creation

          '
        required: false
        schema:
          type: string
      - name: sender_id_address
        in: query
        description: 'The address of the sender Id that is associated with this application.

          '
        required: false
        schema:
          type: string
      - name: message_delivery_provider
        in: query
        description: 'The code that indicates the message devliery provider (e.g. APN, GCN)

          '
        required: false
        schema:
          type: string
      - name: token
        in: query
        description: 'The token the user, application and device.

          '
        required: false
        schema:
          type: string
      - name: application_id
        in: query
        description: 'ID of the application that has created the resource

          '
        required: false
        schema:
          type: integer
      - name: created_date
        in: query
        description: 'The date the resource was created

          '
        required: false
        schema:
          type: string
      - name: last_update_date
        in: query
        description: 'The data the resource was last changed

          '
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Contact Application Token
      summary: Create a new contact application token
      description: '  Create a new contact application token '
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact_3'
  /'contacts/{Contact_ID}/application_tokens/{Contact_Application_Token_Id}':
    get:
      tags:
      - Contact Application Token
      summary: Return a Contact Application Token
      description: '  Return a Contact Application Token'
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      - name: Contact_Application_Token_Id
        in: path
        description: The Contact Application Token Id for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18_list'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Contact Application Token
      summary: Update a contact application token
      description: '  Update a contact application token'
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      - name: Contact_Application_Token_Id
        in: path
        description: The Contact Application Token Id for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact_4'
    delete:
      tags:
      - Contact Application Token
      summary: Delete a Contact Application
      description: '  Delete a Contact Application '
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      - name: Contact_Application_Token_Id
        in: path
        description: The Contact Application Token Id for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
components:
  schemas:
    Contact_4:
      type: object
      properties:
        sender_id_address:
          type: string
          description: 'The address of the sender Id that is associated with this application.

            '
        message_delivery_provider:
          type: string
          description: 'The code that indicates the message devliery provider (e.g. APN, GCN)

            '
        token:
          type: string
          description: 'The token the user, application and device.

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
    inline_response_200_3:
      type: object
      properties:
        id:
          type: string
          description: The identifier for the newly created resource.
    inline_response_200_18_list:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier, allocated by SCG at the time of contact Application Token creation

            '
        sender_id_address:
          type: string
          description: 'The address of the sender Id that is associated with this application.

            '
        message_delivery_provider:
          type: string
          description: 'The code that indicates the message devliery provider (e.g. APN, GCN)

            '
        token:
          type: string
          description: 'The token the user, application and device.

            '
        state:
          type: string
          description: "The application token's state:\n - ACTIVE\n - INVALID\n"
        badges:
          type: integer
          description: 'The budges

            '
        application_id:
          type: integer
          description: 'ID of the application that has created the resource

            '
        created_date:
          type: string
          description: 'The date the resource was created

            '
        last_update_date:
          type: string
          description: 'The data the resource was last changed

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
    Contact_3:
      type: object
      properties:
        sender_id_address:
          type: string
          description: 'The address of the sender Id that is associated with this application.

            '
        message_delivery_provider:
          type: string
          description: 'The code that indicates the message devliery provider (e.g. APN, GCN)

            '
        token:
          type: string
          description: 'The token the user, application and device.

            '
    inline_response_200_18:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_18_list'
