openapi: 3.2.0
info:
  description: This Service enables the Enterprise Customer to Add/Delete 10DLC numbers as well as Number Pools to Campaigns. The backend systems of this api will perform automatic MNO (Mobile Carrier) provisionning as required.
  version: '1.2'
  title: Syniverse 10DLC Provissioning 10DLC v1 API
servers:
- url: https://api.syniverse.com
tags:
- name: 10DLC v1
  description: Initial 10DLC Number to Campaign Association Management
paths:
  /engage/tendlc-services/v1/campaigns/{campaignId}/longcodes/{longcode}:
    post:
      security:
      - Bearer: []
      tags:
      - 10DLC v1
      summary: Addition of 10DLC number to the registered campaign
      description: Syniverse is required to update some MNO A2P platforms with the new added number for a given campaign, this enables  customers to manage  individual number to campaign associations when the numbers are NOT part of a number pool
      operationId: create10DLCNumberUsingPOST
      parameters:
      - name: campaignId
        in: path
        description: campaignId
        required: true
        schema:
          type: string
      - name: longcode
        in: path
        description: longcode
        required: true
        schema:
          type: string
      - name: int-appId
        in: header
        description: int-appId for syniverse internal use only.
        required: false
        schema:
          type: string
      - name: int-companyId
        in: header
        description: int-companyId  for syniverse internal use only.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request recieved
          content:
            application/json:
              schema:
                type: string
        '401':
          description: You are not authorized to view the resource
        '404':
          description: The resource you were trying to reach is not found
      deprecated: false
    delete:
      security:
      - Bearer: []
      tags:
      - 10DLC v1
      summary: Deletion of 10DLC number from the registered campaign
      description: Syniverse is required to update MNOs A2P platforms and remove the number for a given campaign, this enables  customers to manage  individual number to campaign associations when the numbers are NOT part of a number pool
      operationId: delete10DLCNumberUsingDELETE
      parameters:
      - name: campaignId
        in: path
        description: campaignId
        required: true
        schema:
          type: string
      - name: longcode
        in: path
        description: longcode
        required: true
        schema:
          type: string
      - name: int-appId
        in: header
        description: int-appId for syniverse internal use only.
        required: false
        schema:
          type: string
      - name: int-companyId
        in: header
        description: int-companyId  for syniverse internal use only.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request recieved
          content:
            application/json:
              schema:
                type: string
        '401':
          description: You are not authorized to view the resource
        '404':
          description: The resource you were trying to reach is not found
      deprecated: false
components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
      description: Use Bearer {Syniverse SDC Application Token} for example "Bearer aaaaa-aabb-bbaa-bbbbbb"
