openapi: 3.2.0
info:
  description: Synivere Communication Gateway API
  version: 1.0.0
  title: SCG Contact API
servers:
- url: https://api.syniverse.com/scg-external-api/api/v1
tags:
- name: Contact
paths:
  /contacts:
    get:
      tags:
      - Contact
      summary: List all matching Contacts
      description: '  List all matching Contacts'
      parameters:
      - name: id
        in: query
        description: 'Unique identifier, allocated by SCG at the time of contact creation

          '
        required: false
        schema:
          type: string
      - name: external_id
        in: query
        description: 'the id of the contact at the customer system. Can be used by customer to update the contacts

          '
        required: false
        schema:
          type: string
      - name: first_name
        in: query
        description: 'First name of customer

          '
        required: false
        schema:
          type: string
      - name: last_name
        in: query
        description: 'Last name of customer

          '
        required: false
        schema:
          type: string
      - name: birth_date
        in: query
        description: 'Customer birth date. YYYY-MM-DD

          '
        required: false
        schema:
          type: string
      - name: first_acquisition_date
        in: query
        description: 'The timestamp of the first customer acquisition - i.e. the date when the customer has been for the first time opted in to any program

          '
        required: false
        schema:
          type: string
      - name: last_acquisition_date
        in: query
        description: 'The timestamp of the last customer acquisition i.e. the date when the customer has for the last time sent an optin keyword or performed a doubleoptin

          '
        required: false
        schema:
          type: string
      - name: primary_mdn
        in: query
        description: 'The primary phone number of the customer. This is the number used to track the double optin for the customer

          '
        required: false
        schema:
          type: string
      - name: primary_addr_line1
        in: query
        description: 'Details of customers primary address

          '
        required: false
        schema:
          type: string
      - name: primary_addr_line2
        in: query
        description: 'Details of customers primary address

          '
        required: false
        schema:
          type: string
      - name: primary_addr_city
        in: query
        description: 'Details of customers primary address

          '
        required: false
        schema:
          type: string
      - name: primary_addr_zip
        in: query
        description: 'ZIP code of the customer primary address

          '
        required: false
        schema:
          type: string
      - name: primary_addr_state
        in: query
        description: 'Details of customers primary address

          '
        required: false
        schema:
          type: string
      - name: primary_email_addr
        in: query
        description: 'Customers primary email address

          '
        required: false
        schema:
          type: string
      - name: primary_addr_country
        in: query
        description: 'Customer primary address country

          '
        required: false
        schema:
          type: string
      - name: application_id
        in: query
        description: 'ID of the application that has created the resource

          '
        required: false
        schema:
          type: integer
      - name: created_date
        in: query
        description: 'The date the resource was created

          '
        required: false
        schema:
          type: string
      - name: last_updated_date
        in: query
        description: 'The data the resource was last changed

          '
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Contact
      summary: Create a new Contact
      description: '  Create a new Contact '
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
  /'contacts/{Contact_ID}':
    get:
      tags:
      - Contact
      summary: List a Contact
      description: '  List a Contact'
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16_list'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Contact
      summary: Update a specific contact
      description: '  Update a specific contact'
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact_2'
    put:
      tags:
      - Contact
      summary: Replace a specific contact
      description: '  Replace a specific contact'
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact_1'
    delete:
      tags:
      - Contact
      summary: Delete a Contact
      description: '  Delete a Contact '
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
  /'contacts/{Contact_ID}/access_tokens':
    post:
      tags:
      - Contact
      summary: Create a new contact access token
      description: '  Create a new contact access token '
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Access_Token_1'
  /'contacts/{Contact_ID}/access_tokens/{Contact_Access_Token_Id}':
    get:
      tags:
      - Contact
      summary: Return a Contact Access Token
      description: '  Return a Contact Access Token'
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      - name: Contact_Access_Token_Id
        in: path
        description: The Contact Access Token Id for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    delete:
      tags:
      - Contact
      summary: Delete a Contact Access Token
      description: '  Delete a Contact Access Token '
      parameters:
      - name: Contact_ID
        in: path
        description: The Contact ID for this resource.
        required: true
        schema:
          type: string
      - name: Contact_Access_Token_Id
        in: path
        description: The Contact Access Token Id for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
components:
  schemas:
    inline_response_200_3:
      type: object
      properties:
        id:
          type: string
          description: The identifier for the newly created resource.
    Contact_2:
      type: object
      properties:
        external_id:
          type: string
          description: 'the id of the contact at the customer system. Can be used by customer to update the contacts

            '
        first_name:
          type: string
          description: 'First name of customer

            '
        last_name:
          type: string
          description: 'Last name of customer

            '
        birth_date:
          type: string
          description: 'Customer birth date. YYYY-MM-DD

            '
        first_acquisition_date:
          type: string
          description: 'The timestamp of the first customer acquisition - i.e. the date when the customer has been for the first time opted in to any program

            '
        last_acquisition_date:
          type: string
          description: 'The timestamp of the last customer acquisition i.e. the date when the customer has for the last time sent an optin keyword or performed a doubleoptin

            '
        primary_mdn:
          type: string
          description: 'The primary phone number of the customer. This is the number used to track the double optin for the customer

            '
        primary_addr_line1:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_line2:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_city:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_zip:
          type: string
          description: 'ZIP code of the customer primary address

            '
        primary_addr_state:
          type: string
          description: 'Details of customers primary address

            '
        primary_email_addr:
          type: string
          description: 'Customers primary email address

            '
        primary_addr_country:
          type: string
          description: 'Customer primary address country

            '
        primary_social_handle:
          type: string
          description: 'Customers primary social media ID

            '
        address_list:
          type: string
          description: 'Stores all known addresses of the customer in a form of a JSON array. Each address in the array can have the following attributes:

            - priority: priority of the address, 1 highest

            - designation: specifies type of the address: home, work

            - use: billing, shipping

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - line1: first address line

            - line2: second address line

            - city

            - state

            - province

            - zip

            - country

            '
        account_list:
          type: string
          description: 'Stores all known accounts of the customer in a form of a JSON array. Each account in the array can have the following attributes:

            - priority: user defined account priority

            - designation:  primary designation of the account: work, private ...

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - type: email, social, web, loyalty

            - username: the username in the account. This will be the membership id in loyalty programs or the email address for an email account

            - domain: account domain. For example starwood.com

            - access_token: the access token to the account where the account requires some oauth type authorization

            NOTE: other attributes may be required/provided, based on the account type and domain.

            '
        device_list:
          type: string
          description: "Stores all known customer devices in a form of a JSON array. Each account in the device can have the following attributes:\n- priority: user defined account priority\n- designation:  primary designation of the account: work, private ...\n- source: specifies where the address comes from, company specific\n- status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED\n- msisdn\n- carrier\n- mac_address, \n- uuid\n- imei \n- manufacturer: device manufacturer, for example Apple\n- model: model of the device, for example iPhone 5s\n- os: operating system of the device, for example iOS 8.3\nNOTE: other attributes may be required/provided, based on the device type.\n"
        interest_list:
          type: string
          description: "Stores all known customer preferences in a form of a JSON array. Each preference can have the following attributes:\n- code: interest code \n- name: interest name\n- source: where the information was obtained\n- score: how likely the information is, floating point value 0...1\n"
        demographic_list:
          type: string
          description: 'Stores all known customer demographic in a form of a JSON array. Each demographic can have the following attributes:

            - demographic name

            - source: where the information was obtained

            - score: how likely the information is, floating point value 0...1

            '
        extended_attributes:
          type: string
          description: 'JSON string of all extended attributes of the customer. Any list of key:value pairs is supported. Also composite attributes can be stored.

            '
        preferred_language:
          type: string
          description: 'When translation is enabled, the message to this contact will be translated

            '
        voice_preference:
          type: boolean
          description: "This contacts preference setting for voice message delivery: \n- NONE : no preference\n- PREFER_VOICE : contact prefers voice if possible (voice capable sender ID available as message originator and is not rejected due to price or other policy)\n- REQUIRE_VOICE : contact requires voice - selecting voice capable sender ID overrides price and other policies; message fails if voice sender ID is not available\n"
        social_handles:
          type: string
          description: 'list of social handles

            '
        social_profile_lookup_prefix:
          type: string
          description: 'which social id to use to update contact info

            '
        social_profile_lookup_override:
          type: boolean
          description: 'If set to true will overwrite existing contact attributes that are collected from social id

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
    Contact:
      type: object
      properties:
        external_id:
          type: string
          description: 'the id of the contact at the customer system. Can be used by customer to update the contacts

            '
        first_name:
          type: string
          description: 'First name of customer

            '
        last_name:
          type: string
          description: 'Last name of customer

            '
        birth_date:
          type: string
          description: 'Customer birth date. YYYY-MM-DD

            '
        first_acquisition_date:
          type: string
          description: 'The timestamp of the first customer acquisition - i.e. the date when the customer has been for the first time opted in to any program

            '
        last_acquisition_date:
          type: string
          description: 'The timestamp of the last customer acquisition i.e. the date when the customer has for the last time sent an optin keyword or performed a doubleoptin

            '
        primary_mdn:
          type: string
          description: 'The primary phone number of the customer. This is the number used to track the double optin for the customer

            '
        primary_addr_line1:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_line2:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_city:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_zip:
          type: string
          description: 'ZIP code of the customer primary address

            '
        primary_addr_state:
          type: string
          description: 'Details of customers primary address

            '
        primary_email_addr:
          type: string
          description: 'Customers primary email address

            '
        primary_addr_country:
          type: string
          description: 'Customer primary address country

            '
        primary_social_handle:
          type: string
          description: 'Customers primary social media ID

            '
        address_list:
          type: string
          description: 'Stores all known addresses of the customer in a form of a JSON array. Each address in the array can have the following attributes:

            - priority: priority of the address, 1 highest

            - designation: specifies type of the address: home, work

            - use: billing, shipping

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - line1: first address line

            - line2: second address line

            - city

            - state

            - province

            - zip

            - country

            '
        account_list:
          type: string
          description: 'Stores all known accounts of the customer in a form of a JSON array. Each account in the array can have the following attributes:

            - priority: user defined account priority

            - designation:  primary designation of the account: work, private ...

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - type: email, social, web, loyalty

            - username: the username in the account. This will be the membership id in loyalty programs or the email address for an email account

            - domain: account domain. For example starwood.com

            - access_token: the access token to the account where the account requires some oauth type authorization

            NOTE: other attributes may be required/provided, based on the account type and domain.

            '
        device_list:
          type: string
          description: "Stores all known customer devices in a form of a JSON array. Each account in the device can have the following attributes:\n- priority: user defined account priority\n- designation:  primary designation of the account: work, private ...\n- source: specifies where the address comes from, company specific\n- status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED\n- msisdn\n- carrier\n- mac_address, \n- uuid\n- imei \n- manufacturer: device manufacturer, for example Apple\n- model: model of the device, for example iPhone 5s\n- os: operating system of the device, for example iOS 8.3\nNOTE: other attributes may be required/provided, based on the device type.\n"
        interest_list:
          type: string
          description: "Stores all known customer preferences in a form of a JSON array. Each preference can have the following attributes:\n- code: interest code \n- name: interest name\n- source: where the information was obtained\n- score: how likely the information is, floating point value 0...1\n"
        demographic_list:
          type: string
          description: 'Stores all known customer demographic in a form of a JSON array. Each demographic can have the following attributes:

            - demographic name

            - source: where the information was obtained

            - score: how likely the information is, floating point value 0...1

            '
        extended_attributes:
          type: string
          description: 'JSON string of all extended attributes of the customer. Any list of key:value pairs is supported. Also composite attributes can be stored.

            '
        preferred_language:
          type: string
          description: 'When translation is enabled, the message to this contact will be translated

            '
        voice_preference:
          type: boolean
          description: "This contacts preference setting for voice message delivery: \n- NONE : no preference\n- PREFER_VOICE : contact prefers voice if possible (voice capable sender ID available as message originator and is not rejected due to price or other policy)\n- REQUIRE_VOICE : contact requires voice - selecting voice capable sender ID overrides price and other policies; message fails if voice sender ID is not available\n"
        social_handles:
          type: string
          description: 'list of social handles

            '
        social_profile_lookup_prefix:
          type: string
          description: 'which social id to use to update contact info

            '
        social_profile_lookup_override:
          type: boolean
          description: 'If set to true will overwrite existing contact attributes that are collected from social id

            '
    Contact_1:
      type: object
      properties:
        external_id:
          type: string
          description: 'the id of the contact at the customer system. Can be used by customer to update the contacts

            '
        first_name:
          type: string
          description: 'First name of customer

            '
        last_name:
          type: string
          description: 'Last name of customer

            '
        birth_date:
          type: string
          description: 'Customer birth date. YYYY-MM-DD

            '
        first_acquisition_date:
          type: string
          description: 'The timestamp of the first customer acquisition - i.e. the date when the customer has been for the first time opted in to any program

            '
        last_acquisition_date:
          type: string
          description: 'The timestamp of the last customer acquisition i.e. the date when the customer has for the last time sent an optin keyword or performed a doubleoptin

            '
        primary_mdn:
          type: string
          description: 'The primary phone number of the customer. This is the number used to track the double optin for the customer

            '
        primary_addr_line1:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_line2:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_city:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_zip:
          type: string
          description: 'ZIP code of the customer primary address

            '
        primary_addr_state:
          type: string
          description: 'Details of customers primary address

            '
        primary_email_addr:
          type: string
          description: 'Customers primary email address

            '
        primary_addr_country:
          type: string
          description: 'Customer primary address country

            '
        primary_social_handle:
          type: string
          description: 'Customers primary social media ID

            '
        address_list:
          type: string
          description: 'Stores all known addresses of the customer in a form of a JSON array. Each address in the array can have the following attributes:

            - priority: priority of the address, 1 highest

            - designation: specifies type of the address: home, work

            - use: billing, shipping

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - line1: first address line

            - line2: second address line

            - city

            - state

            - province

            - zip

            - country

            '
        account_list:
          type: string
          description: 'Stores all known accounts of the customer in a form of a JSON array. Each account in the array can have the following attributes:

            - priority: user defined account priority

            - designation:  primary designation of the account: work, private ...

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - type: email, social, web, loyalty

            - username: the username in the account. This will be the membership id in loyalty programs or the email address for an email account

            - domain: account domain. For example starwood.com

            - access_token: the access token to the account where the account requires some oauth type authorization

            NOTE: other attributes may be required/provided, based on the account type and domain.

            '
        device_list:
          type: string
          description: "Stores all known customer devices in a form of a JSON array. Each account in the device can have the following attributes:\n- priority: user defined account priority\n- designation:  primary designation of the account: work, private ...\n- source: specifies where the address comes from, company specific\n- status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED\n- msisdn\n- carrier\n- mac_address, \n- uuid\n- imei \n- manufacturer: device manufacturer, for example Apple\n- model: model of the device, for example iPhone 5s\n- os: operating system of the device, for example iOS 8.3\nNOTE: other attributes may be required/provided, based on the device type.\n"
        interest_list:
          type: string
          description: "Stores all known customer preferences in a form of a JSON array. Each preference can have the following attributes:\n- code: interest code \n- name: interest name\n- source: where the information was obtained\n- score: how likely the information is, floating point value 0...1\n"
        demographic_list:
          type: string
          description: 'Stores all known customer demographic in a form of a JSON array. Each demographic can have the following attributes:

            - demographic name

            - source: where the information was obtained

            - score: how likely the information is, floating point value 0...1

            '
        extended_attributes:
          type: string
          description: 'JSON string of all extended attributes of the customer. Any list of key:value pairs is supported. Also composite attributes can be stored.

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
    inline_response_200_16:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_16_list'
    inline_response_200_16_list:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier, allocated by SCG at the time of contact creation

            '
        external_id:
          type: string
          description: 'the id of the contact at the customer system. Can be used by customer to update the contacts

            '
        first_name:
          type: string
          description: 'First name of customer

            '
        last_name:
          type: string
          description: 'Last name of customer

            '
        birth_date:
          type: string
          description: 'Customer birth date. YYYY-MM-DD

            '
        first_acquisition_date:
          type: string
          description: 'The timestamp of the first customer acquisition - i.e. the date when the customer has been for the first time opted in to any program

            '
        last_acquisition_date:
          type: string
          description: 'The timestamp of the last customer acquisition i.e. the date when the customer has for the last time sent an optin keyword or performed a doubleoptin

            '
        primary_mdn:
          type: string
          description: 'The primary phone number of the customer. This is the number used to track the double optin for the customer

            '
        primary_addr_line1:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_line2:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_city:
          type: string
          description: 'Details of customers primary address

            '
        primary_addr_zip:
          type: string
          description: 'ZIP code of the customer primary address

            '
        primary_addr_state:
          type: string
          description: 'Details of customers primary address

            '
        primary_email_addr:
          type: string
          description: 'Customers primary email address

            '
        primary_addr_country:
          type: string
          description: 'Customer primary address country

            '
        primary_social_handle:
          type: string
          description: 'Customers primary social media ID

            '
        address_list:
          type: string
          description: 'Stores all known addresses of the customer in a form of a JSON array. Each address in the array can have the following attributes:

            - priority: priority of the address, 1 highest

            - designation: specifies type of the address: home, work

            - use: billing, shipping

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - line1: first address line

            - line2: second address line

            - city

            - state

            - province

            - zip

            - country

            '
        account_list:
          type: string
          description: 'Stores all known accounts of the customer in a form of a JSON array. Each account in the array can have the following attributes:

            - priority: user defined account priority

            - designation:  primary designation of the account: work, private ...

            - source: specifies where the address comes from, company specific

            - status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED

            - type: email, social, web, loyalty

            - username: the username in the account. This will be the membership id in loyalty programs or the email address for an email account

            - domain: account domain. For example starwood.com

            - access_token: the access token to the account where the account requires some oauth type authorization

            NOTE: other attributes may be required/provided, based on the account type and domain.

            '
        device_list:
          type: string
          description: "Stores all known customer devices in a form of a JSON array. Each account in the device can have the following attributes:\n- priority: user defined account priority\n- designation:  primary designation of the account: work, private ...\n- source: specifies where the address comes from, company specific\n- status: status of the address: VALID_NEW, VALID_CONF, INVALID, EXPIRED\n- msisdn\n- carrier\n- mac_address, \n- uuid\n- imei \n- manufacturer: device manufacturer, for example Apple\n- model: model of the device, for example iPhone 5s\n- os: operating system of the device, for example iOS 8.3\nNOTE: other attributes may be required/provided, based on the device type.\n"
        interest_list:
          type: string
          description: "Stores all known customer preferences in a form of a JSON array. Each preference can have the following attributes:\n- code: interest code \n- name: interest name\n- source: where the information was obtained\n- score: how likely the information is, floating point value 0...1\n"
        demographic_list:
          type: string
          description: 'Stores all known customer demographic in a form of a JSON array. Each demographic can have the following attributes:

            - demographic name

            - source: where the information was obtained

            - score: how likely the information is, floating point value 0...1

            '
        extended_attributes:
          type: string
          description: 'JSON string of all extended attributes of the customer. Any list of key:value pairs is supported. Also composite attributes can be stored.

            '
        fast_access:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_1:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_2:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_3:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_4:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_5:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_6:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_7:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_8:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_9:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_10:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_11:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_12:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_13:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_14:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_15:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_16:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_17:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_18:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_19:
          type: string
          description: 'JSON object containing current values of fast access attributes

            '
        fast_access_20:
          type: string
          description: "JSON object containing current values of fast access attributes \n"
        application_id:
          type: integer
          description: 'ID of the application that has created the resource

            '
        created_date:
          type: string
          description: 'The date the resource was created

            '
        last_updated_date:
          type: string
          description: 'The data the resource was last changed

            '
        version_number:
          type: integer
          description: 'An ascending version number of the resource.  1 upon creation, incremented by one for each modification done.  Used to implement optimistic locking

            '
        preferred_language:
          type: string
          description: 'When translation is enabled, the message to this contact will be translated

            '
        voice_preference:
          type: boolean
          description: "This contacts preference setting for voice message delivery: \n- NONE : no preference\n- PREFER_VOICE : contact prefers voice if possible (voice capable sender ID available as message originator and is not rejected due to price or other policy)\n- REQUIRE_VOICE : contact requires voice - selecting voice capable sender ID overrides price and other policies; message fails if voice sender ID is not available\n"
        social_handles:
          type: string
          description: 'list of social handles

            '
        social_profile_lookup_prefix:
          type: string
          description: 'which social id to use to update contact info

            '
        social_profile_lookup_override:
          type: boolean
          description: 'If set to true will overwrite existing contact attributes that are collected from social id

            '
        timezone:
          type: string
          description: 'The Timezone

            '
        gender:
          type: string
          description: '"The gender. \nSupported values are:\n- female\n- male\n"

            '
        profile_picture_url:
          type: string
          description: 'The url to the profile picture

            '
        is_rcs_capable:
          type: boolean
          description: 'Is rcs capable: true or false

            '
    inline_response_200_17:
      type: object
      properties:
        id:
          type: string
          description: 'The unique id of the token

            '
        expiry_time:
          type: string
          description: 'The UTC timestamp after which the token is no Integer valid.

            '
    Access_Token_1:
      type: object
      properties:
        duration:
          type: string
          description: 'The UTC timestamp after which the token is no Integer valid.

            '
