openapi: 3.2.0
info:
  description: Synivere Communication Gateway API
  version: 1.0.0
  title: SCG Access Token API
servers:
- url: https://api.syniverse.com/scg-external-api/api/v1
tags:
- name: Access Token
paths:
  /access_tokens:
    get:
      tags:
      - Access Token
      summary: Returns the list of matching AccessTokens
      description: '  Returns the list of matching AccessTokens'
      parameters:
      - name: id
        in: query
        description: 'The unique id of the token

          '
        required: false
        schema:
          type: string
      - name: expiry_time
        in: query
        description: 'The UTC timestamp after which the token is no Integer valid.

          '
        required: false
        schema:
          type: string
      - name: application_id
        in: query
        description: 'ID of the application that has created the resource

          '
        required: false
        schema:
          type: integer
      - name: created_date
        in: query
        description: 'The timestamp when the resource was created.

          '
        required: false
        schema:
          type: string
      - name: last_updated_date
        in: query
        description: 'The timestamp the resource was last changed

          '
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    post:
      tags:
      - Access Token
      summary: Create a new access token for the given resource
      description: '  Create a new access token for the given resource'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Access_Token_2'
  /'access_tokens/{AccessToken_ID}':
    get:
      tags:
      - Access Token
      summary: Returns the current version of the AccessToken associated with the provided ID
      description: '  Returns the current version of the AccessToken associated with the provided ID'
      parameters:
      - name: AccessToken_ID
        in: path
        description: The AccessToken ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
    delete:
      tags:
      - Access Token
      summary: Delete an AccessToken associated with a provided ID
      description: '  Delete an AccessToken associated with a provided ID'
      parameters:
      - name: AccessToken_ID
        in: path
        description: The AccessToken ID for this resource.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
components:
  schemas:
    inline_response_200_3:
      type: object
      properties:
        id:
          type: string
          description: The identifier for the newly created resource.
    inline_response_200_25:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_17'
    Access_Token_2:
      type: object
      properties:
        resource:
          type: string
          description: 'This is the type of resource that this token is associated with. Supported types.

            - ATTACHMENT

            - CONTACT

            '
        resource_id:
          type: string
          description: 'The unique ID for the resource instance that this token is associated with.

            '
        expiry_time:
          type: string
          description: 'The UTC timestamp after which the token is no Integer valid.

            '
    inline_response_200_17:
      type: object
      properties:
        id:
          type: string
          description: 'The unique id of the token

            '
        expiry_time:
          type: string
          description: 'The UTC timestamp after which the token is no Integer valid.

            '
