openapi: 3.2.0
info:
  description: Synivere Communication Gateway API
  version: 1.0.0
  title: SCG Auto Alias Message Request API
servers:
- url: https://api.syniverse.com/scg-external-api/api/v1
tags:
- name: Auto Alias Message Request
paths:
  /assistant/auto_alias/message_requests:
    post:
      tags:
      - Auto Alias Message Request
      summary: Create message request to an alias
      description: '  Create message request to an alias'
      responses:
        '204':
          description: Successful operation.  No Content in reponse.
        '400':
          description: "Bad Request.  The request could not be understood by the server.\n\n  * **400** - Bad Request - Error Message provides information about what's wrong with the request\n  * **1019** - Attachment Too Big - Attachment content size exceeds system limits\n  * **1023** - Indexed field too long - One of the values in the request exceeded the maximum allowed length\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '401':
          description: "Unauthorized. The request requires user authentication.\n\n  * **401** - Unauthorized - Provided authentication data is invalid or insufficient\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '402':
          description: "Payment Required.\n\n  * **402** - Insufficient credit - The account does not have sufficient funds for this operation\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '403':
          description: "Forbidden. The user does not have permission to access the specified resource.\n\n  * **403** - Forbidden - Access to this resource is not allowed with the current application token\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '404':
          description: "Not found. The requested resource could not be found.\n\n  * **404** - Error message contains details about the missing resource - Requested resource not found\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '409':
          description: "Conflict. The request could not be completed due to a conflict with the current state of the target resource.\n\n  * **1001** - Stale data - Concurrent resource update. Refresh the resource and retry.\n  * **1011** - Error message contains details about the key being violated - Unique key constraint violated\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
        '500':
          description: "Server Error. An error has been encountered while processing this request.\n\n  * **500** - Server Error - Internal server error. Please report\n"
          content:
            application/json:
              schema:
                properties:
                  error_code:
                    type: string
                    description: The error code for this error.
                  error_description:
                    type: string
                    description: A human readable description of the error.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message_Request_1'
components:
  schemas:
    Message_Request_1:
      type: object
      properties:
        from:
          type: string
          description: "The channel or Sender Id over/from which the message is to be sent.\n-To send from a sender ID, the ID should be prefixed with 'sender_id'.   \n-To send from a channel the ID should be prefixed with 'channel:'.\n"
        to:
          type: array
          description: 'For MT messages this will be a list of one or more recipient addresses, contact ids, contact group ids

            '
          items:
            type: string
        body:
          type: string
          description: 'This is the original message body as supplied by application, prior to keyword processing.

            It can reference a message template and supply the variables assignments for use with a template or contain the actual message body

            '
        attachments:
          type: array
          description: 'A list of attachment IDs which are associated with this message.

            '
          items:
            type: string
        campaign_id:
          type: string
          description: 'The customer provided campaign id.

            '
        subject:
          type: string
          description: 'The subject - a short summary of the message''s purpose.

            '
        application_id:
          type: string
          description: 'ID of the application that has created the message request

            '
        external_id:
          type: string
          description: 'Application provided unique tracking ID for the message.   Can be used as an alternative key in query methods.

            '
